<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
<h1>{{post.title}}</h1>
<h5>{{post.time | niceTime}}</h5>
<div ng-bind-html="post.content"></div>
<h5 class="col-md-4 col-md-offset-8">
  <span ng-class="editClass()">
    <a href="#/edit/{{post.title}}"><span class="glyphicon glyphicon glyphicon-edit"></span></a> |
    <a href="#/delete/{{post.title}}"><span class="glyphicon glyphicon glyphicon-remove"></span></a>
  </span>
</h5>
</article>
